.parent-div {
  background-color: blue;
  height: 100px;
  width: 100%;
  position: relative;
}

.image {
  position: absolute;
  top: 10px;
  left: 20px;
  margin-bottom: 20px;
}

.form {
  position: absolute;
  top: 0;
  left: 500px;
  padding: 20px;
}

.select-option {
  margin-bottom: 20px;
  height: 30px;
  width: 200px;
}

.textbox {
  margin-bottom: 20px;
  height: 30px;
  width: 200px;
}

.submit-button {
  position: absolute;
  top: 20px;
  right: 20px;
  height: 30px;
  width: 70px;
  margin-bottom: 20px;
  padding: 20px;
}
.pac-div {
  background-color: black;
  height: 500px;
  width: 20%;
  position: relative;
  top: 10px
}
.link {
  position: absolute;
  margin-bottom: 20px;
  top: 0;
  left: 10px;
  padding: 30px;
}
.linkd {
  position: absolute;
  margin-bottom: 20px;
  top: 100px;
  left: 10px;
  padding: 30px;
}
.linkds {
  position: absolute;
  margin-bottom: 20px;
  top: 200px;
  left: 10px;
  padding: 30px;
}
.linkdsd {
  position: absolute;
  margin-bottom: 20px;
  top: 300px;
  left: 10px;
  padding: 30px;
}
